.yx-button {
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 80rem;
    white-space: nowrap;
    background-color: @bg-primary-color;
    color: @font-level5-color;
}

.yx-button:active {
    background-color: @bg-second-color;
}
