.yx-textbox {
    display: inline-block;
    width: 400rem;
    height: 80rem;
    line-height: 80rem;
    border: 0 solid @line-lightest;
    border-width: 0 0 .5px 0;
    padding: 0 10rem;
    outline: none;
    font-size: 32rem;
}
