/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.yx-control {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}