.yx-icon {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}


.iconfont {
    position: relative;
    font-size: 50rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
