.yx-iconbutton {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 150rem;
    height: 100rem;
    text-align: center;
}

.yx-iconbutton-icon {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.yx-iconbutton-content {
    font-size: 28rem;
}
