.yx-icon {
    display: inline-block;
    overflow: hidden;
    width: 60rem;
    height: 60rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    line-height: 1;
}


.iconfont {
    font-size: 50rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }