.yx-slidebox {
    position: relative;
    overflow: hidden;
    height: 300rem;
}

.yx-slidebox-body {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.yx-slidebox-body>.yx-control {
    overflow: auto;
    width: 100%;
    height: 100%;
}


.yx-noscroll .yx-box,
.yx-noscroll .yx-stackbox-body {
    overflow: hidden !important;
}