.yx-swiper {
    position: relative;
    overflow: hidden;
    height: 300rem;
}

.yx-swiper-body {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.yx-swiper-body>.yx-control {
    overflow: auto;
    width: 100%;
    height: 100%;
}
