.yx-dialog {
    position: absolute;
    overflow: hidden;
    width: 3.15rem;
    height: auto;
    min-height: 1.2rem;
    border-radius: .05rem;
    background-color: @back-default-color;
    z-index: 20;
}


.yx-dialog>.yx-header {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.yx-dialog>.yx-content {
    position: relative;
    background-color: @back-default-color;
}

.yx-dialog>.yx-footer {
    position: relative;
}



.yx-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 20;
    background-color: @mask-color;
    opacity: .2;
}



.yx-messagebox {
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 20;
    background-color: @back-default-color;
}

.yx-messagebox>.yx-header {
    position: relative;
    font-weight: bold;
    box-shadow: none;
}

.yx-messagebox>.yx-content {
    position: relative;
    top: 0 !important;
    min-height: .9rem;
    max-height: 60%;
    padding: .15rem;
    background-color: @back-default-color;
}

.yx-messagebox>.yx-footer {
    position: relative;
    height: .4rem;
    line-height: .3rem;
    box-shadow: none;
    border-top-width: 1px;
    border-color: @border-level1-color;
}

.yx-messagebox>.yx-footer>.yx-control {
    height: .4rem;
    border-color: @border-level1-color;
}
