.yx-dialog {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overflow: hidden;
    width: 3.15rem;
    height: auto;
    min-height: 1.2rem;
    // border: 1px solid @header-border-color;
    // box-shadow: 0 0 .08rem @header-border-color;
    border-radius: .05rem;
    background-color: @back-color;
    z-index: 30;
}

.yx-dialog>.yx-header {
    height: .4rem;
    line-height: .4rem;
}

.yx-dialog>.yx-content {
    min-height: .8rem;
    padding: .1rem;
}



.yx-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 30;
    background-color: @mask-color;
    opacity: .2;
}




.yx-messagebox>.yx-footer {
    height: .6rem;
    line-height: .3rem;
    padding: .1rem;
    text-align: right;
}

.yx-messagebox>.yx-footer>.yx-control {
    margin: 0 .1rem;
    min-width: .8rem;
    border-radius: .05rem;
}
