.yx-page {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: stretch;
    background-color: @back-color;
}

.yx-header {
    flex-shrink: 0;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    overflow: hidden;
    background-color: @back-header-color;
}

.yx-content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @back-content-color;
}

.yx-footer {
    flex-shrink: 0;
    overflow: hidden;
    background-color: @back-footer-color;
}

.yx-backbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: .45rem;
    height: 100%;
    z-index: 10;
    font-size: .18rem;
}

.yx-backbutton>span {
    display: inline-block;
    margin-top: .02rem;
}

.yx-backbutton>svg {
    margin: 0 .2em;
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
}

.yx-title {
    width: 100%;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
}