@bg-level1: #ffffff;
@bg-level2: #f7f7f7;
@bg-level3: #cccccc;
@bg-level4: #888888;
@bg-level5: #555555;

@bg-important: #c40606;
@bg-primary: #1c86ee;
@bg-secondary: #5eaadd;
@bg-success: #71c04a;
@bg-warning: #e89518;
@bg-danger: #ff6c6c;
@bg-disabled: #eeeeee;


@text-level1: #31313d;
@text-level2: #6c768b;
@text-level3: #b8c0de;
@text-level4: #cccccc;
@text-level5: #f7f7f7;

@text-important: #c40606;
@text-primary: #1c86ee;
@text-secondary: #5eaadd;
@text-success: #71c04a;
@text-warning: #e89518;
@text-danger: #ff6c6c;
@text-disabled: #999999;


@border-level1: #31313d;
@border-level2: #6c768b;
@border-level3: #b8c0de;
@border-level4: #cccccc;
@border-level5: #ffffff;


@border-important: #c40606;
@border-primary: #1c86ee;
@border-secondary: #5eaadd;
@border-success: #71c04a;
@border-warning: #e89518;
@border-danger: #ff6c6c;
@border-disabled: #999999;


@mask: #000000;
@shadow: #888888;




