@back-header-color: #ffffff;
@back-content-color: #f7f7f7;
@back-footer-color: #ffffff;


@back-color: #ffffff;
@back-light-color: #cccccc;
@back-info-color: #b9ced4;
@back-explain-color: #cccccc;
@back-reverse-color: #f7f7f7;

@back-primary-color: #d0ae75;
@back-second-color: #d0ae75;
@back-success-color: #71c04a;
@back-warning-color: #e89518;
@back-danger-color: #dd6161;
@back-disabled-color: #666666;


@font-color: #2d4a63;
@font-light-color: #8094a5;
@font-info-color: #b9ced4;
@font-explain-color: #cccccc;
@font-reverse-color: #ffffff;

@font-primary-color: #d0ae75;
@font-second-color: #d0ae75;
@font-success-color: #71c04a;
@font-warning-color: #e89518;
@font-danger-color: #dd6161;
@font-disabled-color: #666666;


@border-color: #8094a5;
@border-light-color: #8094a5;
@border-info-color: #b9ced4;
@border-explain-color: #cccccc;
@border-reverse-color: #ffffff;

@border-primary-color: #d0ae75;
@border-second-color: #d0ae75;
@border-success-color: #71c04a;
@border-warning-color: #e89518;
@border-danger-color: #dd6161;
@border-disabled-color: #666666;


@icon-color: #2d4a63;
@icon-light-color: #8094a5;
@icon-info-color: #b9ced4;
@icon-explain-color: #cccccc;
@icon-reverse-color: #ffffff;

@icon-primary-color: #d0ae75;
@icon-second-color: #d0ae75;
@icon-success-color: #71c04a;
@icon-warning-color: #e89518;
@icon-danger-color: #dd6161;
@icon-disabled-color: #666666;


@mask-color: #000000;