@back-header-color: #ffffff;
@back-content-color: #f7f7f7;
@back-footer-color: #ffffff;


@back-default-color: #ffffff;

@back-reverse-color: #f7f7f7;

@back-primary-color: #f4b532;
@back-second-color: #f4b532;
@back-success-color: #71c04a;
@back-warning-color: #e89518;
@back-danger-color: #ff6c6c;
@back-disabled-color: #eeeeee;


@font-level1-color: #31313d;
@font-level2-color: #6c768b;
@font-level3-color: #b8c0de;
@font-level4-color: #cccccc;
@font-level5-color: #f7f7f7;

@font-reverse-color: #ffffff;

@font-primary-color: #f4b532;
@font-second-color: #f4b532;
@font-success-color: #71c04a;
@font-warning-color: #e89518;
@font-danger-color: #ff6c6c;
@font-disabled-color: #999999;


@border-level1-color: #d8dce4;
@border-level2-color: #cccccc;
@border-level3-color: #cccccc;
@border-level4-color: #cccccc;
@border-level5-color: #cccccc;

@border-reverse-color: #ffffff;

@border-primary-color: #f4b532;
@border-second-color: #f4b532;
@border-success-color: #71c04a;
@border-warning-color: #e89518;
@border-danger-color: #ff6c6c;
@border-disabled-color: #999999;


@icon-level1-color: #31313d;
@icon-level2-color: #6c768b;
@icon-level3-color: #b8c0de;
@icon-level4-color: #cccccc;
@icon-level5-color: #f7f7f7;

@icon-reverse-color: #ffffff;

@icon-primary-color: #f4b532;
@icon-second-color: #f4b532;
@icon-success-color: #71c04a;
@icon-warning-color: #e89518;
@icon-danger-color: #ff6c6c;
@icon-disabled-color: #999999;


@mask-color: #000000;