.yx-page {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: @bg-standard;
    z-index: 1;
}
