.yx-button {
    height: .35rem;
    margin: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    text-align: center;
    transition: .1s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}