.yx-button {
    height: .35rem;
    margin: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    text-align: center;
    transition: .1s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yx-button[theme="primary"] {
    background-color: @font-primary-color;
    color: @back-color;
}

.yx-button[theme="success"] {
    background-color: @back-success-color;
    color: @back-color;
}

.yx-button[theme="warning"] {
    background-color: @back-warning-color;
    color: @back-color;
}

.yx-button[theme="danger"] {
    background-color: @back-danger-color;
    color: @back-color;
}

.yx-button[disabled],
.yx-button[theme][disabled] {
    background-color: @back-disabled-color;
	color: @font-disabled-color;
    cursor: not-allowed;
}