.yx-control[theme="primary"] {
    border-color: @primary-color-3;
    color: @primary-color-1;
}

.yx-control[theme="second"] {
    border-color: @second-color-3;
    color: @second-color-1;
}

.yx-control[theme="success"] {
    border-color: @success-color-3;
    color: @success-color-1;
}

.yx-control[theme="warning"] {
    border-color: @warning-color-3;
    color: @warning-color-1;
}

.yx-control[theme="danger"] {
    border-color: @danger-color-3;
    color: @danger-color-1;
}

.yx-control[theme="disabled"] {
    border-color: @disabled-color-3;
    background-color: @disabled-color-5;
    color: @disabled-color-1;
    cursor: not-allowed;
}


[theme="primary"] svg {
    fill: @icon-color-2;
}

[theme="second"] svg {
    fill: @icon-color-3;
}

[theme="success"] svg {
    fill: @icon-color-4;
}

[theme="warning"] svg {
    fill: @icon-color-5;
}

[theme="danger"] svg {
    fill: @icon-color-6;
}

[theme="disabled"] svg {
    fill: @icon-color-7;
}
