.yx-host {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(.5, .5);
    background-color: @back-level1-color;
    color: @font-level1-color;
    fill: @icon-level1-color;
}


.yx-tab>.yx-control {
    border-color: transparent;
}


.yx-control[theme="level1"] {
    border-color: @border-level1-color;
    color: @font-level1-color;
    fill: @icon-level1-color;
}

.yx-control[theme="level2"] {
    border-color: @border-level2-color;
    color: @font-level2-color;
    fill: @icon-level2-color;
}

.yx-control[theme="level3"] {
    border-color: @border-level3-color;
    color: @font-level3-color;
    fill: @icon-level3-color;
}

.yx-control[theme="level4"] {
    border-color: @border-level4-color;
    color: @font-level4-color;
    fill: @icon-level4-color;
}

.yx-control[theme="level5"] {
    border-color: @border-level5-color;
    color: @font-level5-color;
    fill: @icon-level5-color;
}

.yx-control[theme="primary"] {
    border-color: @border-primary-color;
    color: @font-primary-color;
    fill: @icon-primary-color;
}

.yx-control[theme="second"] {
    border-color: @border-second-color;
    color: @font-second-color;
    fill: @icon-second-color;
}

.yx-control[theme="success"] {
    border-color: @border-success-color;
    color: @font-success-color;
    fill: @icon-success-color;
}

.yx-control[theme="warning"] {
    border-color: @border-warning-color;
    color: @font-warning-color;
    fill: @icon-warning-color;
}

.yx-control[theme="danger"] {
    border-color: @border-danger-color;
    color: @font-danger-color;
    fill: @icon-warning-color;
}


.yx-control[theme="level1-reverse"] {
    background-color: @font-level1-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="level2-reverse"] {
    background-color: @font-level2-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="level3-reverse"] {
    background-color: @font-level3-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="level4-reverse"] {
    background-color: @font-level4-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="level5-reverse"] {
    background-color: @font-level4-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="primary-reverse"] {
    background-color: @font-primary-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="second-reverse"] {
    background-color: @font-second-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="success-reverse"] {
    background-color: @font-success-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="warning-reverse"] {
    background-color: @font-warning-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-control[theme="danger-reverse"] {
    background-color: @font-danger-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}


.yx-control[disabled],
.yx-control[theme="disabled"] {
    border-color: @border-disabled-color;
    background-color: @back-disabled-color;
    color: @font-disabled-color;
    fill: @icon-disabled-color;
    cursor: not-allowed;
}