.yx-host {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(.5, .5);
    background-color: @back-color;
    color: @font-color;
    fill: @icon-color;
}


.yx-control[theme="primary"] {
    border-color: @border-primary-color;
    color: @font-primary-color;
    fill: @icon-primary-color;
}

.yx-control[theme="success"] {
    border-color: @border-success-color;
    color: @font-success-color;
    fill: @icon-success-color;
}

.yx-control[theme="warning"] {
    border-color: @border-warning-color;
    color: @font-warning-color;
    fill: @icon-warning-color;
}

.yx-control[theme="danger"] {
    border-color: @border-danger-color;
    color: @font-danger-color;
    fill: @icon-warning-color;
}

.yx-control[disabled],
.yx-control[theme="disabled"] {
    border-color: @border-disabled-color;
    color: @font-disabled-color;
    fill: @icon-disabled-color;
    cursor: not-allowed;
}


.yx-control[line="top"] {
    border-top-width: 1px;
    border-top-style: solid;
}

.yx-control[line="left"] {
    border-left-width: 1px;
    border-left-style: solid;
}

.yx-control[line="right"] {
    border-right-width: 1px;
    border-right-style: solid;
}

.yx-control[line="top"] {
    border-right-width: 1px;
    border-right-style: solid;
}

.yx-control[line="bottom"] {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.yx-control[line="all"] {
    border-width: 1px;
    border-style: solid;
}



.yx-control[layout="block"]>* {
    display: block;
    width: 100%;
}

.yx-control[layout="inline"]>* {
    display: inline;
}

.yx-control[layout="inline-block"]>* {
    display: inline-block;
}


.yx-control[layout="row"] {
    overflow: hidden;
    white-space: nowrap;
}

.yx-control[layout="row"]>* {
    position: relative;
    display: inline-block;
}

.yx-control[layout="column"] {
    overflow: hidden;
}

.yx-control[layout="column"]>* {
    position: relative;
    display: block;
}



.yx-control[gap]>*:first-child {
    margin: 0;
}