
[layout="block"]>* {
    display: block;
    width: 100%;
}

[layout="inline"]>* {
    display: inline;
}

[layout="inline-block"]>* {
    display: inline-block;
}


[layout="line"] {
    white-space: nowrap;
}

[layout="line-nowrap"]>* {
    display: inline-block;
}


[layout="line-middle"] {
    height: .5rem;
    white-space: nowrap;
}

[layout="line-middle"]>* {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}


[layout="same-width"] {
    overflow: hidden;
    white-space: nowrap;
}

[layout="same-width"]>* {
    display: inline-block;
    margin: 0 !important;
}

[layout="same-height"] {
    overflow: hidden;
}

[layout="same-height"]>* {
    display: block;
    margin: 0 !important;
}


[gap^="top"]>:first-child {
    margin-top: 0px !important;
}

[gap^="left"]>:first-child {
    margin-left: 0px !important;
}

.yx-control[full="width"]>* {
    width: 100%;
}

.yx-control[full="height"]>* {
    height: 100%;
}

.yx-control[full="all"]>* {
    width: 100%;
    height: 100%;
}