.yx-panel {
    position: relative;
}



.yx-panel[theme="default"] {
    background-color: @font-default-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="light"] {
    background-color: @font-light-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="info"] {
    background-color: @font-info-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="explain"] {
    background-color: @font-explain-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="primary"] {
    background-color: @font-primary-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="second"] {
    background-color: @font-second-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="success"] {
    background-color: @font-success-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="warning"] {
    background-color: @font-warning-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[theme="danger"] {
    background-color: @font-danger-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
}

.yx-panel[disabled],
.yx-panel[theme="disabled"] {
    background-color: @font-disabled-color;
    color: @font-reverse-color;
    fill: @icon-reverse-color;
    cursor: not-allowed;
}