.yx-progressbar {
    position: relative;
    height: .1rem;
    background-color: @back-level4-color;
}

.yx-progressbar>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @back-primary-color;
}
