.yx-layout-row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.yx-layout-row-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.yx-layout-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.yx-layout-column-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
}



.yx-layout-before {
    justify-items: flex-start;
    justify-content: flex-start;
}

.yx-layout-center {
    justify-items: center;
    justify-content: center;
}

.yx-layout-after {
    justify-items: flex-end;
    justify-content: flex-end;
}

.yx-layout-space-between {
    justify-items: space-between;
    justify-content: space-between;
}

.yx-layout-space-around {
    justify-items: space-around;
    justify-content: space-around;
}

.yx-layout-stretch {
    justify-items: stretch;
    justify-content: stretch;
}


.yx-layout-left,
.yx-layout-up {
    align-content: flex-start;
    align-items: flex-start;
}

.yx-layout-middle {
    align-content: center;
    align-items: center;
}

.yx-layout-right,
.yx-layout-down {
    align-content: flex-end;
    align-items: flex-end;
}




.yx-flex-auto {
    flex: auto;
}

.yx-flex-none {
    flex: none;
}


.yx-hidden {
    display: none;
}
