.yx-absolute-left {
    position: absolute;
    left: 0;
}

.yx-absolute-top {
    position: absolute;
    top: 0;
}

.yx-absolute-right {
    position: absolute;
    right: 0;
}

.yx-absolute-bottom {
    position: absolute;
    bottom: 0;
}

.yx-absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.yx-absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.yx-absolute-center.yx-absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.yx-static {
    position: static;
}



.yx-layout-row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.yx-layout-row-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.yx-layout-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.yx-layout-column-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
}



.yx-layout-before {
    justify-items: flex-start;
    justify-content: flex-start;
}

.yx-layout-center {
    justify-items: center;
    justify-content: center;
}

.yx-layout-after {
    justify-items: flex-end;
    justify-content: flex-end;
}

.yx-layout-space-between {
    justify-items: space-between;
    justify-content: space-between;
}

.yx-layout-space-around {
    justify-items: space-around;
    justify-content: space-around;
}

.yx-layout-stretch {
    justify-items: stretch;
    justify-content: stretch;
}


.yx-layout-left,
.yx-layout-up {
    align-content: flex-start;
    align-items: flex-start;
}

.yx-layout-middle {
    align-content: center;
    align-items: center;
}

.yx-layout-right,
.yx-layout-down {
    align-content: flex-end;
    align-items: flex-end;
}

.yx-layout-baseline {
    align-content: baseline;
    align-items: baseline;
}
