.yx-layout-row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.yx-layout-row-left {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    justify-content: flex-start;
}

.yx-layout-row-center {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}

.yx-layout-row-right {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: flex-end;
}

.yx-layout-row-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.yx-layout-row-reverse-left {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    justify-content: flex-start;
}

.yx-layout-row-reverse-center {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    justify-content: center;
}

.yx-layout-row-reverse-right {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: flex-end;
}

.yx-layout-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.yx-layout-column-reverse {
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
}



.yx-flex-auto {
    flex: auto;
}

.yx-flex-none {
    flex: none;
}


.yx-hidden {
    display: none;
}
