.yx-theme-level1 {
    background-color: @bg-level1-color;
    color: @font-level1-color;
}

.yx-theme-level2 {
    background-color: @bg-level1-color;
    color: @font-level2-color;
}

.yx-theme-level3 {
    background-color: @bg-level1-color;
    color: @font-level3-color;
}

.yx-theme-level4 {
    background-color: @bg-level1-color;
    color: @font-level4-color;
}

.yx-theme-level5 {
    background-color: @bg-level1-color;
    color: @font-level5-color;
}

.yx-theme-important {
    background-color: @bg-level1-color;
    color: @font-important-color;
}

.yx-theme-primary {
    background-color: @bg-level1-color;
    color: @font-primary-color;
}

.yx-theme-second {
    background-color: @bg-level1-color;
    color: @font-second-color;
}

.yx-theme-success {
    background-color: @bg-level1-color;
    color: @font-success-color;
}

.yx-theme-warning {
    background-color: @bg-level1-color;
    color: @font-warning-color;
}

.yx-theme-danger {
    background-color: @bg-level1-color;
    color: @font-danger-color;
}

.yx-theme-disabled {
    background-color: @bg-level1-color;
    color: @font-disabled-color;
}


.yx-theme-level1-reverse {
    background-color: @font-level1-color;
    color: @bg-level1-color;
}

.yx-theme-level2-reverse {
    background-color: @font-level2-color;
    color: @bg-level1-color;
}

.yx-theme-level3-reverse {
    background-color: @font-level3-color;
    color: @bg-level1-color;
}

.yx-theme-level4-reverse {
    background-color: @font-level4-color;
    color: @bg-level1-color;
}

.yx-theme-level5-reverse {
    background-color: @font-level5-color;
    color: @bg-level1-color;
}


.yx-theme-important-reverse {
    background-color: @font-important-color;
    color: @bg-level1-color;
}

.yx-theme-primary-reverse {
    background-color: @font-primary-color;
    color: @bg-level1-color;
}

.yx-theme-second-reverse {
    background-color: @font-second-color;
    color: @bg-level1-color;
}

.yx-theme-success-reverse {
    background-color: @font-success-color;
    color: @bg-level1-color;
}

.yx-theme-warning-reverse {
    background-color: @font-warning-color;
    color: @bg-level1-color;
}

.yx-theme-danger-reverse {
    background-color: @font-danger-color;
    color: @bg-level1-color;
}

.yx-theme-disabled-reverse {
    background-color: @font-disabled-color;
    color: @bg-disabled-color;
}



.yx-theme-bg-level1 {
    background-color: @font-level1-color;
}

.yx-theme-bg-level2 {
    background-color: @font-level2-color;
}

.yx-theme-bg-level3 {
    background-color: @font-level3-color;
}

.yx-theme-bg-level4 {
    background-color: @font-level4-color;
}

.yx-theme-bg-level5 {
    background-color: @font-level5-color;
}

.yx-theme-bg-important {
    background-color: @font-important-color;
}

.yx-theme-bg-primary {
    background-color: @font-primary-color;
}

.yx-theme-bg-second {
    background-color: @font-second-color;
}

.yx-theme-bg-success {
    background-color: @font-success-color;
}

.yx-theme-bg-warning {
    background-color: @font-warning-color;
}

.yx-theme-bg-danger {
    background-color: @font-danger-color;
}

.yx-theme-bg-disabled {
    background-color: @font-disabled-color;
}



.yx-theme-font-level1 {
    color: @font-level1-color;
}

.yx-theme-font-level2 {
    color: @font-level2-color;
}

.yx-theme-font-level3 {
    color: @font-level3-color;
}

.yx-theme-font-level4 {
    color: @font-level4-color;
}

.yx-theme-font-level5 {
    color: @font-level5-color;
}

.yx-theme-font-important {
    color: @font-important-color;
}

.yx-theme-font-primary {
    color: @font-primary-color;
}

.yx-theme-font-second {
    color: @font-second-color;
}

.yx-theme-font-success {
    color: @font-success-color;
}

.yx-theme-font-warning {
    color: @font-warning-color;
}

.yx-theme-font-danger {
    color: @font-danger-color;
}

.yx-theme-font-disabled {
    color: @font-disabled-color;
}
